* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  margin: 30px auto;
  font-family: 'Open Sans', sans-serif;
}

header {
  position: relative;
  padding: 4%;
}

ul li {
  display: inline-block;
  style: none;
  margin-right: 50px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: hsl(243, 87%, 12%);
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

::placeholder {
  color: #ddd;
}

#firstsec {
  margin: 50px auto 0;
  padding: 0 4%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 1rem;
  align-items: center;
  align-content: center;
}

#secondsec {
  margin: 50px auto 0;
  padding: 0 4% 5% 4%;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 1rem;
  align-items: center;
  align-content: center;
  padding-top: 5%;
  background-image: url("images/bg-curve-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

#thirdsec {
  background-color: hsl(238, 22%, 44%);
  color: #fff;
  display: grid;
  grid-template-columns: 45% 45%;
  grid-column-gap: 1rem;
  align-items: center;
  align-content: center;
  padding: 5% 4%;
}

#forthsec {
  background-color: hsl(243, 87%, 12%);
  color: #fff;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
}

.link {
  margin: 20px 0;
}

.ul {
  position: absolute;
  bottom: 0;
  right: 0;
}

.desc {
  padding: 5%;
}

.input1 {
  margin: 0 20px 10px 0;
  padding: 6px;
  width: 50%;
  color: #gray;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 40%;
  padding: 5px;
  margin-top: -5px;
}

.illust {
  width: 400px;
  margin-left: 80px;
}

.p {
  margin: 25px 0;
  color: hsl(243, 87%, 12%);
  font-size: 0.9rem;
}

.review {
  background-color: #fff;
  box-shadow: 1px 2px 10px gray;
  border-radius: 5px;
  width: 80%;
  margin-top: 50px;
  padding: 2.5% 7%;
  color: hsl(243, 87%, 12%);
  font-size: 0.8rem;
  font-weight: bold;
}

.firstLink {
  color: hsl(170, 45%, 43%);
  font-weight: bold;
  border-bottom: 1px solid hsl(170, 45%, 43%);
  padding-bottom: 2px;
}

a.firstLink:visited {
  color: hsl(170, 45%, 43%);
}

.review-inside {
  display: grid;
  grid-template-columns: 20% 80%;
}

.quotes {
  font-size: 1.8rem;
  margin-bottom:
}

.kyle {
  width: 45px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.kyleBurton {
  margin: 5px 0 0 -5px;
}

.kb {
  font-size: 0.7rem;
  font-weight: normal;
}

.pthird {
  font-size: 0.9rem;
}

.getContact {
  margin-left: 100px;
}

.input2 {
  margin: 0 20px 10px 0;
  padding: 6px;
  width: 80%;
  color: #gray;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn2 {
  width: 50%;
  padding: 5px;
  margin-top: 10px;
}

.box {
  padding: 12% 14%;
}

.logo2 {
  margin-bottom: 17px;
}

.phone {
  margin-bottom: 10px;
}

.boxadd {
  padding: 45% 5% 25%;
  line-height: 2rem;
}

.fab {
  color: #fff;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 13px;
  padding-top: 10px;
  text-align: center;
}

@media (max-width:950px) {
  #firstsec {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    text-align: center;
    align-items: center;
    align-content: center;
  }

  #secondsec {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    align-content: center;
    margin-top: 0;
  }

  #thirdsec {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1rem;
    align-items: center;
    align-content: center;
    text-align: center;
  }

  #forthsec {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  ul li {
    display: inline-block;
    style: none;
    margin-right: 10px;
  }

  .mail {
    display: grid;
    grid-template-columns: 1fr;
  }

  .input1 {
    margin-bottom: 20px;
    width: 100%;
  }

  .input2 {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .order0{
    order: 0;
  }

  .order1{
    order: 1;
  }

  .order2{
    order: 2;
  }

  .getContact{
    padding: 0 5%;
  }

  .illust {
    width: 300px;
    text-align: center;
    margin: 20px 0 50px;
  }

  .review {
    margin: 30px auto 0;
    text-align: left;
  }

  .kyleBurton {
    margin: 5px 0 0 5px;
  }

  .getContact {
    margin-left: 0;
  }

  .box {
    padding: 10%;
  }

  .boxadd {
    padding: 0;
    line-height: 2rem;
    text-align: center;
    padding: 5% 0;
  }

  .medb1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .medb2 {
    grid-column-start: 1;
  }

  .medi3 {
    grid-column-start: 3;
  }

  .medb4 {
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 10% 0;
  }
}
